.chat-profile-container{background: #FBF8F9;}

.profile-top{text-align: center;
             margin:120px 0;}

.profile-top .icon{font-size: 80px;}

.myPhoto{border-radius: 100%;}

.prof{margin-left:20px;
      font-weight:200;
      max-height: 100px;}

.profile-list{
               font-size: 20px;
               padding-top: 20px;
               padding-bottom: 20px;  }

.FaRegBell{color:lightgreen;
         padding-right: 10px;
         margin-top: 20px;
         font-size:25px; }

.FaUser{color:#9DD9F3;
        padding-right: 10px;
        font-size:25px;}

.FaCommentDots{color:#FF0000;
               padding-right: 10px;
               font-size:25px; }

.FaRegSun{color:#A32CC4;
          padding-right: 10px;
          font-size:25px;}